html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#contact-content {

}

.contact-description {
  min-height: 100vh;
  background: url(/images/contact-background.jpg) no-repeat;
  background-size: 100% auto;
  @media (min-width: 1024px) and (max-width: 1280px){
    background-size: 100% 100%;
  }
  @media screen and(max-width: 1024px) {
    min-height: 480px;
  }
  @media (min-width: 425px) and (max-width: 768px) {
    min-height: 390px;
  }
  @media (min-width: 320px) and (max-width: 425px) {
    min-height: 345px;
  }

  @media screen and (max-width: 320px) {
    min-height: 295px;
  }
  .left-content {
    padding: 30px 80px 100px 80px;
    @media screen and (max-width: 425px) {
      padding: 30px 30px 100px 45px;
    }
    .description {
      position: absolute;
      bottom: 80px;
      @media screen and (max-width: 1024px) {
        bottom: 10px;
        .title {
          font-size: 22px !important;
          margin-bottom: 10px !important;
        }
        .line {
          font-size: 16px !important;
          margin-bottom: 10px !important;
        }
      }
      @media (min-width: 1024px) and (max-width: 1366px){
        bottom: 20px;
      }
      @media screen and (max-width: 320px) {
        bottom: 10px;
        .title {
          font-size: 18px !important;
          margin-bottom: 6px !important;
        }
        .line {
          font-size: 14px !important;
          margin-bottom: 6px !important;
        }
      }
      .title {
        font-size: 33px;
        margin-bottom: 15px;
        color: #ffffff;
      }
      .line {
        font-size: 18px;
        margin-bottom: 15px;
        color: #ffffff;
      }
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and(max-width: 768px) {
    margin-bottom: 30px;
  }
}

.right-content {
  @media screen and(max-width: 1024px) {
    margin-top: 69px;
  }

  .header {
    .title {
      font-size: 36px;
      font-family: 'Noto Sans', sans-serif;
      color: #de4965;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .description {
      color: #696969;
    }
    margin-bottom: 45px;
  }
  .subscribe-form {
    width: 300px;
    margin: 0 auto 80px auto;
    .form-group {
      margin-bottom: 25px;
    }
    input {
      background-color: #f0f0f0;
      border-radius: 30px;
      border: none;
      font-size: 14px;
      padding: 10px 15px;
    }
    input[type=number] {
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

    }
    .label {
      font-size: 14px;
      color: #9b9b9b;
      margin-bottom: 10px;
    }
    .for-18 {
      font-weight: 500;
      color: #f14b62;
    }
  }
  .footer {
    width: 365px;
    margin: 0 auto;
    @media screen and(max-width: 425px) {
      width: 300px;
    }
    .social-button {
      padding: 8px 20px;
      background-color: #ff7077;
      border-radius: 100%;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
    }
    p {
      margin-bottom: 4px;
    }
  }
}

#home {
  .header {
    margin-top: 25px;
  }
}
