.btn-fate,.btn-fate:hover, .btn-fate:focus  {
  border-radius: 30px;
  color: #fff;
  border: 0;
  background: #f04a61;
  background: linear-gradient(to right, #f04a61 , #fca891);
  box-shadow: none;
  cursor: pointer;
}
.alert-text {
  font-size: 12px;
  margin-bottom: 10px;
}